div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.main_component {
  height: 75vh;
  align-items: center;
}

span {
  padding: 5px 5px 5px 5px;
}

mat-form-field {
  width: 80%;
}

.login-icon{
  height: 250px;
  width: 250px;
}

#error{
  color:#ff0000;
}
