.container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 20px 20px 20px;
  margin: auto;
  height: 100%;
  width: 80%;
  background-color: #CD853F;
}
