h1{
  font-weight: bold;
}

.container{
  text-align: left;
}

.container img{
  width: 30%;
  float:left;
}

#konyv-info{
  text-align: center;
}

#oldal{
  text-align: center;
}

#ar{
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  padding-bottom: 40px;
}

.kep{
  border: 1px solid #000;
}

.info{
  width: 60%;
  float:right;
}

button{
  width: 10%;
}

.gombok{
  text-align: center;
  vertical-align:bottom;
}
