<div>
  <img src="assets/images/book1.jpeg" class="inline_img" alt="book1.jpg">
  <p>
    Az 1991-ben létrehozott Könyvmánia Könyvkereskedelmi Kft. az Állami Könyvterjesztő Vállalat jogutódjaként alakult meg. A megörökölt bolthálózat és szervezeti felépítés korszerűsítésével és folyamatos bővítésével, több mint 600 fő foglalkoztatásával, a Könyvmánia.hu webáruházzal és folyamatosan növekedő forgalmával a Könyvmánia az ország egyik legnagyobb könyvértékesítőjévé vált.
    Az elmúlt években számos elismerés igazolta a vállalat piaci lépéseit: többször sikerült elnyernie a kiadók és a könyvszakma képviselőinek szavazatai alapján kiosztott Az Év Könyvkereskedője-címet, a Nemzeti Kulturális Örökség Minisztériumának Hermész-díját, valamint a független marketing- és reklámszakemberekből álló zsűri által odaítélt Superbrands és MagyarBrands címeket.
    Könyvesboltjaink a Magyar Könyvkiadók és Könyvterjesztők Egyesülésének (MKKE) több rangos szakmai díját is elnyerték: Az év fővárosi könyvesboltja címet a Könyvmánia Allee Könyvesbolt háromszor, Az év vidéki könyvesboltja címet a debreceni Könyvmánia Fórum Könyvesbolt kétszer kapta meg.
    Az elismerésekre büszkék vagyunk, és reméljük, hogy az elkövetkező években is kiérdemeljük azt a megbecsülést, amit többek között ezekkel a díjakkal, de elsősorban vevőink bizalmával érdemeltünk ki.
  </p>
</div>
