div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

mat-form-field div,span {
  padding: 5px 5px 5px 5px;
}

mat-form-field {
  width: 80%;
  height: auto;
  align-self: center;
}

.gomb{
  width: 10%;
  padding: 5px 5px 5px 5px;
}

#error{
  color:#ff0000;
  padding: 10px 5px 5px 5px;
}
